@use "./card.module.scss";
@use "../global/colors.scss";
@use "../global/breakpoints.scss";
@use "../global/box-shadow.scss";

// TODO make window width responsive
.carousel {
	position: relative;
	display: flex;
	flex-direction: row;
  width: 100%;
	box-shadow: box-shadow.$default-box-shadow;
	border-radius: 5px;
	padding: 0.5rem;

  @include breakpoints.breakpoint(tablet-landscape) {
    width: 100%;
  }
  
	&__prevButton,
	&__nextButton,
	&__showAllButton {
    position: absolute;
		top: 0;
		height: 100%;
    padding: .5rem;
		border: none;
		background: transparent;
		z-index: 10;
		transition: 0.4s ease;
    @include breakpoints.breakpoint(tablet-landscape) {
      padding: 1rem;    
      &:hover {
        background: #54674780;
      }
    }
	}

	&__prevButton {
		left: 0px;
	}

	&__nextButton,
	&__showAllButton {
		right: 0px;
	}

	&__window {
		overflow-x: scroll;
		background: transparent;
		margin: 0 auto;
		display: flex;
		//Hide scrollbar for IE and Edge
		-ms-overflow-style: none;
		/*Hide scrollbar for Firefox*/
		scrollbar-width: none;
		
		&::-webkit-scrollbar {
			// Hide scrollbar for Chrome, Safari and Opera
			display: none;
		}
	}
}
