@use "../global/typography.scss";
@use "../global/breakpoints.scss";
@use "../global/layout.scss";
@use "../global/colors.scss";
@use "../global/box-shadow.scss";

.hero {
  width: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transition: all .7s ease-in-out;
  
  @include breakpoints.breakpoint(tablet) {
    max-width: map-get(layout.$maxWidths, regular);
  }
  
  @include breakpoints.breakpoint(desktop-large) {
    max-width: map-get(layout.$maxWidths, x-large);
  }

  &__image{
    border-radius: 5px;
    box-shadow: box-shadow.$default-box-shadow;
    width: 100%;
    height: auto;
  }
  
}

