@use "../global/layout.scss";

.navbar{
  position: sticky;
  top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2rem;
  max-width: map-get(layout.$maxWidths, regular);
}