.listWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 2rem;
}

@media screen and (max-width: 355px) {
  .listWrapper {
    display: flex;
    flex-flow: column nowrap;
  }
}

@media screen and (min-width: 575px) {
  .listWrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 768px) {
  .listWrapper {
    grid-template-columns: repeat(4, 1fr);
    max-width: 768px;
  }
}
