@use "./styles/global/colors.scss";
@use "./styles/global/breakpoints.scss";
@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@500&family=Lexend:wght@300&display=swap");

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-family: "Lexend", "sans-serif";
	font-size: 14px;

	@include breakpoints.breakpoint(tablet-landscape) {
		font-size: 16px;
	}
}

body {
	color: map-get(colors.$colors, soft-white);
	overflow-x: hidden;
}

a {
	text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
a {
	color: map-get(colors.$colors, coal);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "josefin slab";
}
